.parrafo{
    background-color: #3F3F40;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: .9rem;
}